.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 100px;
    height: auto;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.profile h1{
    margin: 10px;
    font-size: 25px;
    margin-right: 40px;
}

.profile p {
    margin: 20px;
    font-size: 15px;
    text-align: justify;
}

.info button {
    background-color: rgb(1, 136, 181); /* Color del botón */
    border-radius: 10%; /* Hace que el botón sea redondo */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 5px 10px; /* Ajusta el relleno del botón según necesites */
}

.info button:hover {
    background-color: rgb(151, 192, 235); /* Cambia el color del botón cuando el ratón está encima */
}

.sport-btn{
    margin-top: 10px;
    margin-bottom: 10px;
}