/* Estilos CSS para la presentación */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f0ff; /* Color de fondo gris claro*/
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Estilos para la imagen "carita1" */
img.jugador {
    width: 100px; /* Define el ancho deseado */
    border: 2px solid black; /* Aplica un borde negro de 2px alrededor de la imagen */
    border-radius: 5px; /* Agrega bordes redondeados */
}
/* Estilos para los contenedores de los jugadores */
.jugador-container {
    text-align: center; /* Centra el contenido horizontalmente */
    display: inline-block; /* Permite que los contenedores se muestren uno al lado del otro */
    width: 150px; /* Ancho máximo para cada contenedor */
    margin-right: 20px; /* Espacio entre los contenedores */
}

/* Estilos para las imágenes de los jugadores */
.imagen-container {
    display: block; /* Permite que la imagen se muestre como un bloque */
}
/* Estilos para los nombres de los jugadores */
.jugador-container p {
    margin: 0; /* Espacio entre la imagen y el nombre */
}

/* Estilos para el contenedor de la cancha */
.cancha-container {
    text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para la imagen de la cancha */
.cancha-img {
    width: 300px; /* Tamaño mediano */
    display: block; /* Permite que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos para el texto de la cancha */
.cancha-text {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    font-size: 18px; /* Tamaño de fuente mediano */
    font-weight: bold; /* Texto en negrita */
}
