<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Chats no leidos</title>
    <meta charset="UTF-8">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1> Chats no leidos </h1>
            <hr>

            <div class="container-Partidos">
                <div th:each="chat : ${chats}">
                    <div >
                        <p>Partido # <td th:text="${chat.key}"></td>:  <td th:text="${chat.value}"></td> mensajes nuevos </p>
                        
                        <div>
                            <a class="link" th:href="@{/user/match/{id}(id=${chat.key})}"> Ir al chat del partido </a>
                        </div>
                        
                        <hr>
                    </div>      
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/joinMatch.js}"></script>
</body>

</html>