<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Chat de partido</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1> Partido </h1>
            <hr>

            <h2> Mensajes </h2>
            <div id="contenedor-mensajes">
                <!-- recepción de mensajes -->
                <div class="py-5 row" id="mensajes">
                    <tr th:each="mensaje: ${mensajes_chat}">
                        <div>
                            <th:block th:text="${mensaje.sender.username}"></th:block>
                            @<th:block th:text="${mensaje.dateSent}"></th:block> 
                            <th:block th:text="${mensaje.texto}"></th:block>
                        </div>
                    </tr>
                </div>

                <!-- envío de mensajes -->
                <div class="py-5 row ">
                    <form th:action="@{/user/match/__${partido.id}__/msg}" method="POST">
                        <input type="text" id="message" placeholder="escribe en este partido" />
                        <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
                    </form>
                </div>
            </div>

            <hr>
            <h2> Participantes </h2>
            <div>
                <tr th:each="j: ${partido.juega}">
                    <span th:text="${j.user.username}"></span>
                    <hr>
                </tr>
            </div>
        </div>
    </main>

    <script th:inline="javascript">
        var chat_token = /*[[__${partido.chatToken}__]]*/ "";
    </script>
    
    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-subscribe-match.js}"></script>
    <script th:src="@{/js/ajax-demo.js}"></script>
</body>
</html>