<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Chat de partido</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1> Partido </h1>
            <hr>

            <h2> Mensajes </h2>
            <div id="contenedor-mensajes">
                <!-- recepción de mensajes -->
                <div class="py-5 row" id="mensajes">
                    <tr th:each="mensaje: ${mensajes_chat}">
                        <div>
                            <th:block th:text="${mensaje.sender.username}"></th:block>
                            @<th:block th:text="${#temporals.format(mensaje.dateSent,'yyyy-MM-dd HH:mm')}"></th:block> 
                            <th:block th:text="${mensaje.texto}"></th:block>
                        </div>
                    </tr>
                </div>

                <!-- envío de mensajes -->
                <div class="py-5 row ">
                    <form th:action="@{/user/match/__${partido.id}__/msg}" method="POST">
                        <input type="text" id="message" placeholder="escribe en este partido" />
                        <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
                    </form>
                </div>
            </div>

            <div th:if="${creador}">
                <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalFinalizar"> 
                    Finalizar </button>

                    <div class="modal" id="modalFinalizar">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>Resultado del partido</h3>
                                </div>
    
                                <div class="modal-body">
                                    <div class="equipos">
                                        <h5>Elige los participantes del Equipo 1</h5>

                                        <tr th:each="j: ${partido.juega}">
                                            <input type="checkbox" th:id="${j.user.username}" th:value="${j.user.username}" />
                                            <label for="${j.user.username}" th:text="${j.user.username}"></label>
                                        </tr>
                                    </div>
                                    <hr>

                                    <div class="resultado">
                                        Equipo 1 
                                        <input type="number" id="resultadoEquipo1" name = "resultadoEquipo1" min="0" style="width:100px" />
                                        <input type="number" id="resultadoEquipo2" name = "resultadoEquipo2" min="0" style="width:100px" />
                                    </div>
                                </div>
    
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>                    
                        </div>
                    </div>
    
            </div>

            <hr>
            <h2> Participantes </h2>

            <div id="reportar-y-valorar" th:unless="${u.isAdmin}">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalReportar"> 
                    Reportar </button>
                
                <div class="modal" id="modalReportar">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Reportar a un usuario</h3>
                            </div>

                            <div class="modal-body">
                                <form method="POST" th:action="@{/user/report}">
                                    <input hidden type="text" name="idPartido" th:value="${partido.id}">
                                    <label for="idReportado">Seleccione al participante que desea reportar </label>
                                    <select name="idReportado" id="idReportado">
                                        
                                        <tr th:each="j: ${partido.juega}">
                                            <td th:unless="${session.u.id} == ${j.user.id}">
                                                <option type="text" th:value="${j.user.id}" th:text="${j.user.username}">
                                                </option>
                                            </td>
                                        </tr>
                                        
                                    </select>
                                    <textarea name="mensaje"></textarea>
                                    <div>
                                        <button type="submit" class=" btn btn-outline-dark reportar-btn"> Reportar</button>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>                    
                    </div>
                </div>

                <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalValorar"> 
                    Valorar </button>
                
                <div class="modal" id="modalValorar">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Valorar a un usuario</h3>
                            </div>

                            <div class="modal-body">
                                <form method="POST" th:action="@{/user/rate}">
                                    <input hidden type="text" name="idPartido" th:value="${partido.id}">
                                    <label for="idValorado">Seleccione al participante que desea valorar </label>
                                    <select name="idValorado" id="idValorado">
                                        
                                        <tr th:each="j: ${partido.juega}">
                                            <td th:unless="${session.u.id} == ${j.user.id}">
                                                <option type="text" th:value="${j.user.id}" th:text="${j.user.username}">
                                                </option>
                                            </td>
                                        </tr>
                                        
                                    </select>

                                    <select name="valoracion">
                                        <tr th:each="v: ${valoraciones}">
                                            <option type="text" th:value="${v}" th:text="${v}"></option>
                                        </tr>
                                    </select>
                                    
                                    <div>
                                        <button type="submit" class=" btn btn-outline-dark"> Valorar </button>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <hr>

            

            <div>
                <tr th:each="j: ${partido.juega}">
                    <a th:text="${j.user.username}" th:href="@{/user/{id}(id=${j.user.id})}"></a>
                    <hr>
                </tr>
            </div>
        </div>
    </main>

    <script th:inline="javascript">
        var chat_token = /*[[__${partido.chatToken}__]]*/ "";
        var idPartido = /*[[__${partido.id}__]]*/ "";
    </script>
    
    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-demo.js}"></script>
</body>
</html>