<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Chat de partido</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1> Partido </h1>
            <hr>

            <h2> Mensajes </h2>
            <div id="contenedor-mensajes">
                <div> 
                    <em> Mensaje de - </em>
                    <p> Contenido del mensaje </p>
                    <hr>

                    <em> Mensaje de - </em>
                    <p> Contenido del mensaje </p>
                    <hr>
                </div>
            </div>

            <form>
                <div>
                    <textarea placeholder="Escribe aquí tu mensaje"> </textarea>
                </div>
                <input class="btn btn-outline-dark" type="submit" value="Enviar mensaje">
            </form>

            <hr>
            <h2> Participantes </h2>
            <div>
                <img src="" alt="Foto del participante">
                <em> Nombre del participante </em>
                <hr>
                <img src="" alt="Foto del participante">
                <em> Nombre del participante </em>
                <hr>
                <img src="" alt="Foto del participante">
                <em> Nombre del participante </em>
                <hr>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>