<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <script th:src="@{/js/bootstrap.bundle-5.1.3.js}" src="js/bootstrap.bundle-5.1.3.js"></script>
    <title>IW: Crear partido</title>
    <script>
        window.onload = function() {
            let fecha = document.querySelector("#inicio");
            let hoy = new Date().toISOString().split('T')[0];
            fecha.setAttribute('min', hoy);
        };

        function updatePistas(deporte) {
            window.location.href = '/user/crearPartido?deporte=' + deporte;
        }

        function verDisponibilidad() {
            var deporte = document.querySelector('input[name="deporte"]:checked');
            var pistaId = document.querySelector('select[name="pista"]');
            var fecha = document.querySelector('input[name="inicio"]');

            if (deporte && pistaId.value && fecha.value) {
                deporte = deporte.value;
                pistaId = pistaId.value;
                fecha = fecha.value;
                window.location.href = '/user/crearPartido?deporte=' + deporte + '&pistaId=' + pistaId + '&fecha=' + fecha;
            } else {
                alert("Por favor, rellena todos los campos antes de verificar la disponibilidad.");
            }
        }
    </script>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div th:if="${error}" th:text="${error}">
        No hay error
    </div>

    <main class="flex-shrink-0">
        <div class="container">
            <h1> Crear un partido </h1>
            <hr>

            <form method="POST" th:action="@{/user/crearPartido}">
                <input type="radio" id="baloncesto" name="deporte" value="Baloncesto" required onchange="updatePistas('Baloncesto')" th:checked="${deporteSeleccionado == 'Baloncesto'}">
                <label for="baloncesto">Baloncesto</label>
                <input type="radio" id="tenis" name="deporte" value="Tenis" required onchange="updatePistas('Tenis')" th:checked="${deporteSeleccionado == 'Tenis'}">
                <label for="tenis">Tenis</label>
                <hr>

                <label for="pista">Pista: </label>
                <select name="pista" id="pista" required>
                    <option value="">--Por favor seleccione una pista--</option>
                    <option th:each="pista : ${pistas}" th:value="${pista.id}" th:id="pista__${pista.id}__" th:text="${pista.nombre}"  th:selected="${pista.id == pistaSeleccionada}"></option>
                </select>
                <hr>
                
                <label for="inicio"> Fecha </label>
                <input type="date" name="inicio" id="inicio" required th:value="${fechaSeleccionada}">
                <hr>

                <input class="btn btn-outline-dark" type="button" value="Ver disponibilidad" id="ver" onclick="verDisponibilidad()">                
                <div th:if="${mostrarHoras}">
                    <br>
                    <div th:each="hora : ${horasDisponibles}">
                        <input type="radio" th:value="${hora}" th:id="${hora}" name="horaSeleccionada" required/>
                        <label th:for="${hora}">[[${hora}]]</label><br/>
                    </div>
                </div>
                <hr>

                <input class="btn btn-outline-dark" type="submit" value="Crear" id="crear">

            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>