<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Perfil</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">  
    
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="flex-shrink-0">
        <div class="container">

            <div class="info-user">
                <div class="profile">
                    <img th:src="@{/img/perfil.png}" alt="Foto de perfil">
                    <h1><span th:text="${user.username}"></span></h1>
                
                    <p><span th:text="${ganados}"></span><em><br> partidos<br> ganados</em></p>
                    <p><span th:text="${perdidos}"></span><em><br> partidos<br> perdidos</em></p>

                    <p>Valoracion media: <span th:text="${val_media}"></span> (<span th:text="${num_val}"></span> valoraciones)</p>
                </div> 
                <h5><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h5>
            </div>
            <br><hr>
            <div class="historial-user">
                <h4>Partidos jugados</h4>
                <div class="container-Partidos">
                    <div th:each="partido, stat : ${partidosJugados}" class="card-Partido">
                        <div class="info-Partido">
                            <h5 th:text="${partido.pista.nombre}"></h5>
                            <p>
                                <strong>Dirección:</strong> <span th:text="${partido.pista.localizacion}"></span> <br>
                                <strong>Deporte:</strong> <span th:text="${partido.pista.tipo}"></span><br>
                                <strong>Fecha:</strong> <span th:text="${#temporals.format(partido.inicio,'dd-MM-yyyy')}"></span><br>
                                <strong>Hora:</strong> <span th:text="${#temporals.format(partido.inicio,'HH:mm')}"></span> - 
                                                    <span th:text="${#temporals.format(partido.fin,'HH:mm')}"></span><br>
                                <strong>Resultado:</strong> <span th:text="${partido.result}"></span><br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-chat">
                <h1 class="mt-5">Perfil de <span th:text="${user.username}">Paco</span></h1>
            </div>
        </div>
    </div>
    
    <th:block th:replace="fragments/footer.html :: footer" />

</body>
</html>