<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Perfil</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">  
    
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="container-user">
        <div class="profile">
            <img th:src="@{/img/perfil.png}" alt="Foto de perfil">
            <h1><span th:text="${user.username}"></span></h1>
        </div>
      
        <div class="info">
            <p>5 <em>partidos jugados</em></p>
            <p>10 <em>seguidores</em></p>
            <p>8 <em>seguidos</em></p>
            <button>Editar perfil</button>
    
            <div class="sport-btn">
                <button id="btn1">Fútbol</button>
                <button id="btn2">Basket</button>
            </div>
        </div>
        
        <div class="nivel">
            <h1>Nivel 0,95</h1>
            <h2> Historial de partidos:</h2>
        </div>  

        <div class="container">
            <h1 class="mt-5">Perfil de <span th:text="${user.username}">Paco</span></h1>
            <!-- recepción de mensajes -->
            <div class="py-5 row" id="mensajes">
            </div>
            <!-- envío de mensajes -->
            <div class="py-5 row ">
                <form th:action="@{/user/__${user.id}__/msg}" method="POST">
                    <input type="text" id="message" placeholder="escribe a este usuario" />
                    <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
        
    </div>
    
    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>
</html>